<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script>
       <link rel='javascript' href='/javascripts/script.js' />
    </script>
  </body>
</html>
