<link rel="stylesheet" href="/stylesheets/style.css">



<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    
    <h2 class="active"> Sign Up </h2>
    {{!-- <h2 class="inactive underlineHover">Sign Up </h2> --}}

    <!-- Icon -->
    {{!-- <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> --}}

    <!-- Login Form -->
    <form action="/signup" method="post">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
       <input type="text" id="login" class="fadeIn second" name="email" placeholder="email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      {{!-- <input type="text" id="password" class="fadeIn third" name="password" placeholder="confirm password"> --}}
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      Already have an account?  <a class="underlineHover" href="/">Login</a>
    </div>

  </div>
</div>